@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1921px;

  --font-manrope:  Manrope, sans-serif;

  --color-offwhite: #FAF9F6;
  --color-caviar: #2C2F32;
  --color-coffee: #5A493B;
  --color-cream: #C8BDB1;
  --color-shadowgray: #2C2C32;
  --color-snow: #F6F7FA;

  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.563rem;
  --text-2xl: 1.923rem;
  --text-3xl: 2.441rem;
  --text-4xl: 3.052rem;
  --text-5xl: 3.815rem;
}