@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme {
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1921px;

  --font-manrope:  Manrope, sans-serif;

  --color-offwhite: #FAF9F6;
  --color-caviar: #2C2F32;
  --color-coffee: #5A493B;
  --color-cream: #C8BDB1;
  --color-shadowgray: #2C2C32;
  --color-snow: #F6F7FA;

  --text-3xl: 32px;
}