name: Deploy to Hestia via FTP

on:
  push:
    branches:
      - deploy 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }} # Use the prefixed name (e.g., hestadmin_deploy)
          password: ${{ secrets.FTP_PASSWORD }}
          # If you set the path in Hestia to 'public_html', server-dir can just be /
          server-dir: /home/Jose_Orola_admin/web/joseorola.ca/public_html/

          # Add this to bypass common certificate validation errors on self-signed Hestia certs
